#wrap {
	width: 100%;
}
@media screen and (min-width:320px)
{
.gnb-menu-wrap {
	width: 100%; height: 45px; text-align: center;
}
.gnb-menu-title {
	width: 100%; height: 45px; text-align: right; padding-right: 1rem; box-sizing: border-box; background-color: rgb(46, 46, 46);
}
.gnb-menu-title i {
	color: rgb(255, 255, 255); line-height: 45px; font-size: 20px; cursor: pointer;
}
.gnb-menu {
	width: 100%; display: none; position: absolute; z-index: 9999; background-color: rgb(255, 255, 255);
}
.gnb-menu ul li {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.gnb-menu ul li a {
	color: rgb(0, 0, 0); line-height: 50px; font-size: 18px; font-weight: bold;
}
#header-container {
	width: 100%;
}
.util-menu-container {
	display: none;
}
.logo-menu-container {
	width: 100%; background-color: rgb(255, 255, 255);
}
.logo-menu-section {
	text-align: center;
}
.logo {
	padding: 15px 0px; width: 100%; text-align: center;
}
.logo > h1 {
	border-radius: 50%; width: 90px; height: 90px; text-align: center; color: rgb(255, 255, 255); padding-top: 30px; font-family: "Oswald", sans-serif; font-size: 20px; font-weight: 400; display: inline-block; box-sizing: border-box; background-color: tomato;
}
.menu {
	display: none;
}
#main-section-container {
	background-position: center; width: 100%; height: calc(100vh - 165px); position: relative; background-image: url("../images/bg2.jpg"); background-size: cover;
}
.overlay {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; opacity: 0.4; background-color: rgb(0, 0, 0);
}
.main-section {
	padding: 0px 10%; left: 50%; top: 50%; width: 100%; text-align: center; color: rgb(255, 255, 255); position: absolute; box-sizing: border-box; transform: translate(-50%, -50%);
}
.main-text h1 {
	color: rgba(255, 255, 255, 0.9); font-family: "Oswald", sans-serif; font-size: 4.5rem;
}
.main-text p {
	color: rgba(255, 255, 255, 0.7); line-height: 1.5; font-size: 14px;
}
.main-text button {
	padding: 10px 20px; color: rgb(255, 255, 255); font-family: "Oswald", sans-serif; margin-top: 20px; cursor: pointer; background-color: tomato;
}
#one-section-container {
	padding: 100px 0px; width: 100%; background-color: rgb(238, 238, 238);
}
.one-section-title {
	width: 100%; text-align: center;
}
.one-section-main {
	padding: 30px 5%; display: flex; box-sizing: border-box; flex-wrap: wrap; justify-content: space-between;
}
.one-section-main > div.item-wrap {
	padding: 10px 20px; width: 100%; vertical-align: top; box-sizing: border-box;
}
.one-section-item {
	padding: 30px 40px; border: 5px solid transparent; transition:0.3s; border-image: none; width: 100%; height: 100%; text-align: center; cursor: pointer; box-sizing: border-box; background-color: rgb(255, 255, 255);
}
.one-section-item:hover {
	border: 5px solid rgb(255, 255, 255); border-image: none; background-color: rgb(232, 232, 232);
}
.item-wrap i {
	color: tomato; line-height: 2; -ms-zoom: 3.5;
}
.item-wrap h1 {
	color: rgba(0, 0, 0, 0.9); line-height: 2; font-size: 25px;
}
.item-wrap p {
	color: rgba(0, 0, 0, 0.7); line-height: 1.5; font-size: 13px;
}
#two-section-container {
	background-position: center; width: 100%; height: 300px; position: relative; box-sizing: border-box; background-image: url("../images/sub-content.jpg"); background-repeat: no-repeat; background-size: cover;
}
#two-section-container .overlay {
	opacity: 1; background-color: rgba(0, 0, 0, 0.7);
}
.two-section-wrap {
	left: 50%; top: 50%; width: 100%; position: absolute; z-index: 9999; transform: translate(-50%, -50%);
}
.two-section {
	margin: 0px auto; padding: 0px 10%; width: 80%; text-align: center; color: rgba(255, 255, 255, 0.8); box-sizing: border-box;
}
.two-section h2 {
	font-size: 28px; font-weight: 500; margin-bottom: 10px;
}
.two-section p {
	display: none;
}
#three-section-container {
	width: 100%;
}
.three-section {
	width: 100%;
}
.three-section-main {
	display: flex; flex-wrap: wrap;
}
.three-section-main > div {
	width: 50%; position: relative; box-sizing: border-box;
}
.three-section-main > div:last-child {
	margin-right: 0px;
}
.three-section-main img {
	width: 100%; height: 100%;
}
#four-section-container {
	padding: 100px 0px; width: 100%;
}
.four-section {
	width: 100%;
}
.four-section > div {
	box-sizing: border-box;
}
.four-section-left {
	width: 100%;
}
.four-section-right {
	width: 100%; height: 450px; position: relative;
}
.four-section-right-wrap {
	padding: 0px 10%; left: 0px; top: 50%; position: absolute; transform: translateY(-50%);
}
.four-section-title {
	text-align: center; font-size: 20px; margin-bottom: 20px;
}
.four-section-content input {
	padding: 10px; width: 100%; margin-bottom: 5px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; box-sizing: border-box; background-color: transparent;
}
.four-section-content textarea {
	padding: 10px; width: 100%; height: 150px; font-family: "Roboto", sans-serif; font-size: 14px; margin-bottom: 10px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; box-sizing: border-box; background-color: transparent;
}
.four-section-content .button {
	text-align: center; color: rgb(255, 255, 255); font-family: "Oswald", sans-serif; cursor: pointer; background-color: tomato;
}
#footer-container {
	padding: 40px 10%; width: 100%; box-sizing: border-box; background-color: rgb(46, 46, 46);
}
.footer-wrap {
	width: 100%;
}
.footer-one {
	text-align: center; color: rgb(255, 255, 255); margin-bottom: 20px;
}
.footer-two {
	margin-bottom: 15px;
}
.footer-two h3 {
	color: rgb(255, 255, 255); line-height: 2; font-size: 18px;
}
.footer-three h3 {
	color: rgb(255, 255, 255); line-height: 2; font-size: 18px;
}
.footer-two p {
	color: rgba(255, 255, 255, 0.7); line-height: 1.5; font-size: 14px;
}
.footer-three span a {
	color: rgba(255, 255, 255, 0.7); line-height: 1.5; font-size: 18px; margin-right: 10px;
}
}
@media screen and (min-width:680px)
{
.util-menu-container {
	width: 100%; height: 40px; display: block; background-color: rgb(46, 46, 46);
}
.util-menu-section {
	width: 100%; padding-top: 10px; padding-right: 20px; box-sizing: border-box;
}
.util-menu-section ul {
	float: right;
}
.util-menu-section ul li {
	margin-left: 30px; float: left;
}
.util-menu-section ul li a {
	color: rgba(255, 255, 255, 0.8); font-size: 12px;
}
.logo {
	padding: 15px 0px 0px;
}
.logo > h1 {
	width: 60px; height: 60px; padding-top: 19px; font-size: 16px;
}
.menu {
	text-align: center; display: block;
}
.menu ul {
	padding-top: 5px;
}
.menu ul li {
	margin: 20px 30px; display: inline-block;
}
.menu ul li a {
	transition:0.3s; color: rgb(0, 0, 0); font-size: 16px; font-weight: bold;
}
.menu ul li:hover a {
	color: tomato;
}
#main-section-container {
	height: 500px;
}
.main-section {
	padding: 0px;
}
.main-text h1 {
	font-size: 80px;
}
.one-section-main > div.item-wrap {
	width: 50%;
}
.two-section p {
	line-height: 1.5; font-size: 14px; display: block;
}
#three-section-container {
	width: 100%;
}
.three-section {
	width: 100%;
}
.three-section-main {
	display: flex;
}
.three-section-main > div {
	flex:1 1 0px; position: relative; box-sizing: border-box;
}
.three-section-main > div:last-child {
	margin-right: 0px;
}
.three-section-main img {
	width: 100%;
}
.four-section-left {
	padding: 0px 10%;
}
.footer-two {
	width: 70%; margin-bottom: 0px; float: left;
}
.footer-three {
	width: 25%; float: right;
}
.gnb-menu-wrap {
	display: none;
}
}
@media screen and (min-width:1280px)
{
.util-menu-section {
	margin: 0px auto; width: 1280px; padding-right: 0px;
}
.logo-menu-container {
	height: 88px;
}
.logo-menu-section {
	margin: 0px auto; width: 1280px; position: relative;
}
.logo {
	position:absolute;
}
.logo > h1 {
	display: block;
    width: 60px; height: 60px;
}
.menu ul {
	padding: 36px 0; float: right;
}
.menu ul li {
	margin: 0px 0px 0px 80px; float: left; cursor: pointer;
}
.menu ul li a {
	transition:0.3s; color: rgb(0, 0, 0); font-size: 16px; font-weight: bold;
}
.menu ul li:hover a {
	color: tomato;
}
#main-section-container {
	height: 500px;
}
.one-section {
	margin: 0px auto; width: 1280px;
}
.one-section-title {
	margin-bottom: 30px;
}
.one-section-main {
	padding: 0px; display: flex;
}
.one-section-main > div.item-wrap {
	padding: 0px; flex:1 1 0px; margin-right: 15px;
}
.one-section-main > div:last-child.item-wrap {
	margin-right: 0px;
}
#two-section-container {
	width: 100%; height: 200px;
}
.four-section {
	margin: 0px auto; width: 1280px; font-size: 0px;
}
.four-section > div {
	font-size: 14px; vertical-align: top; display: inline-block;
}
.four-section-left {
	width: 60%; padding-right: 20px;
}
.four-section-right {
	width: 40%;
}
.four-section-right-wrap {
	padding: 30px;
}
.four-section-title {
	text-align: left;
}
#footer-container {
	padding: 30px 0px;
}
.footer-wrap {
	margin: 0px auto; width: 1280px; display: flex;
}
.footer-one {
	width: 20%; color: rgb(255, 255, 255);
}
.footer-two {
	width: 60%;
}
.footer-three {
	width: 20%;
}
}
