@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #070c24
}

.container {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:900px;
    height:600px;
    background-color:#fff;
    padding:20px;
}

.container .imgBox {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
    background-color:#006dbc;
}

.container .imgBox img {
    position: relative;
    width:700px;
    transform:rotate(-30deg);
    left:-50px;
}

.container .details {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height: 100%;
    box-sizing: border-box;
    padding:40px;
}

.container .details h2 {
    margin:0;
    padding:0;
    font-size:2.5rem;
    line-height: 2rem;
    color:#444;
}

.container .details h2 span {
    font-size:1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#999;
}

.container .details p {
    max-width: 85%;
    margin-left:15%;
    color:#333;
    font-size:15px;
    text-align: justify;
}

.container .details h3 {
    margin:0;
    padding:0;
    font-size: 2.5rem;
    color:#a2a2a3;
    float:left;
}

.container .details button {
    background-color:#006dbc;
    color:#fff;
    border:none;
    outline:none;
    padding:15px 20px;
    margin-top:5px;
    font-size:16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float:right;
    cursor: pointer;
}


.container .imgBox:before {
    content:'Nike';
    position: absolute;
    top:20px;
    left:20px;
    color:#000;
    opacity: 0.1;
    font-size:9rem;
    font-weight: 800;
}

@media (max-width: 1080px) {
    .container {
        height:auto;
    }
    
    .container .imgBox {
        padding:40px;
        box-sizing: border-box;
        width:100% !important;
        height:auto;
        text-align: center;
        overflow: hidden;
    }
    
    .container .imgBox img {
        left:initial;
        max-width: 100%;
        transform:rotate(0deg);
    }
    
    .container .details {
        width:100%;
        height:auto;
        padding:20px;
    }
    
    .container .details p {
        max-width:100%;
        margin-left:0;
    }
}