@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Catamaran|Nunito|Poppins|Roboto&display=swap');

body {
    margin:0;
    padding:0;
    font-family: 'Catamaran', sans-serif;
    background-color:#196DB6;
}

.box {
    position: absolute;
    top:50%;
    left: 50%;
    /*box 크기에서 왼쪽 그리고 위로 */
    transform:translate(-50%, -50%);
    width:400px;
    padding:40px;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.box h2 {
    margin: 0 0 30px 0;
    padding:0;
    color:#fff;
    text-align: center;
	text-transform:uppercase;
	font-size:35px;
	letter-spacing:2px;
	font-family: 'Nunito', sans-serif;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width:100%;
    padding:10px 0;
    font-size:16px;
    color:#fff;
    letter-spacing: 1px;
    margin-bottom:30px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom:1px solid #fff;
}

.box .inputBox label {
    position:absolute;
    top:0;
    left:0;
    padding:10px 0;
    font-size:16px;
    color:#fff;
    
    /* 라벨 위에서 input 클릭이 가능하게 */
    pointer-events: none;
    
    transition: 0.5s;
	font-size:14px;
	text-transform:uppercase;
}

/* input을 클릭하는 순간(포커스) 모든 라벨들은 
   input에 값이 입력되는 순간에 모든 라벨들은
*/
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    

    top:-24px;
    left:0;
    color:#03a9f4;
    font-size:12px;
}

.box input[type="submit"] {
    border: none;
    outline: none;
    color:#fff;
    background-color:#03a9f4;
    padding:10px 20px;
    cursor: pointer;
    border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
}